@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/RobotoRegular.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/RobotoBold.woff2") format("woff2"),
    url("../fonts/RobotoBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* :root {

} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.section-reset {
  padding-top: 50px;
  padding-bottom: 50px;

  border-bottom: 1px solid #666666;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  text-align: center;
}

/* header */

.header {
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #dbd6d6;
  border-bottom: 1px solid #666666;
}

.header__content {
  align-items: center;
}

.header__logo-link {
  margin-right: auto;
}

.header__logo {
  height: 50px;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

/* section-hero */

.section-hero__img {
  height: 300px;

  border-radius: 100%;
  border: 4px solid #000000;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.6);
  filter: grayscale(60%);
}

.section-hero__left {
  justify-content: flex-end;
}

.section-hero__right {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-hero__title {
  font-size: 62px;
}

.section-hero__descr {
  font-size: 24px;
}

/* section-contact */

.section-contact__title {
  font-size: 32px;
  /* text-align: center; */
}

.section-contact__list {
  justify-content: space-between;
}

.section-contact__item {
  width: 123px;
  margin-bottom: 10px;
  padding-top: 50px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: 35px 35px;
}

.section-contact__item--image-1 {
  background-image: url("../assets/img/section-contact/gps.svg");
}

.section-contact__item--image-2 {
  background-image: url("../assets/img/section-contact/phone.svg");
}

.section-contact__item--image-3 {
  background-image: url("../assets/img/section-contact/email.svg");
}

.section-contact__item--image-4 {
  background-image: url("../assets/img/section-contact/telegram.svg");
}

.section-contact__item--image-5 {
  background-image: url("../assets/img/section-contact/discord.svg");
}

.section-contact__item--image-6 {
  background-image: url("../assets/img/section-contact/linkedin.svg");
}

/* section-about */

/* .section-about__title {
  text-align: center;
} */

.section-about__descr {
  text-indent: 30px;
  line-height: 26px;
  text-align: center;
}

.section-about__descr:not(:last-child) {
  margin-bottom: 20px;
}

/* section-skills */

/* .section-skills__title {
  text-align: center;
} */

.section-skills__content {
  justify-content: space-around;
}

.section-skills__subtitle {
  padding-left: 30px;
  margin-bottom: 20px;

  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.section-skills__subtitle--image-1 {
  background-image: url("../assets/img/section-skills/softsvg.svg");
}

.section-skills__subtitle--image-2 {
  background-image: url("../assets/img/section-skills/hard.svg");
}

.section-skills__item-descr {
  padding-left: 30px;
}

.section-skills__item {
  margin-bottom: 10px;
}

/* section-projects */

/* .section-projects__title {
  text-align: center;
} */

.section-projects__descr {
  text-align: center;
}

.section-projects__content {
  padding-top: 30px;
}

.section-projects__list {
  justify-content: space-around;
}

.section-projects__item {
  padding: 20px;
  padding-top: 330px;

  background-color: #cfcfcf;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  filter: grayscale(65%);
}

.section-projects__item--image-1 {
  background-image: url("../assets/img/section-projects/lagoona.png");
}

.section-projects__item--image-2 {
  background-image: url("../assets/img/section-projects/evklid.png");
}

.section-projects__item-title {
  margin-bottom: 10px;
}

.section-projects__item-descr {
  margin-bottom: 10px;
}

.section-projects__link {
  text-decoration: underline;
}

/* section-code */

/* .section-code__title {
  text-align: center;
} */

.section-code__content {
  justify-content: center;
}

.section-code__example {
  margin: 0;
}

/* section-education */

.section-education__descr {
  text-indent: 30px;
  line-height: 26px;
  text-align: center;
}

.section-education__descr:not(:last-child) {
  margin-bottom: 20px;
}

/* section-languages */

.section-languages__list {
  justify-content: space-around;
}

/* footer */

.footer {
  padding: 20px 0;

  background-color: #dbd6d6;
}

.footer__content {
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 125px;
}

